.active {
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  width: 36px;
  background: #000000;
  color: #ffffff;
  text-align: -webkit-center;
}

.font-20 {
  font-size: 20px;
}

.cursor-hand {
  cursor: pointer;
}

.disabled {
  color: lightgray;
}

::ng-deep {
  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-infix {
    width: 100px !important;
  }
}

