::ng-deep {
  .mat-table {
    background: #ffffff;
  }

  .mat-header-cell {
    color: #000000;
  }

  .mat-cell {
    color: #000000;
  }
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  vertical-align: middle;
}

.quick-search-field {
  width: 25%;
  float: right;
}
