<div class="container">
  <div>
    <div #toolbar style="background: white;">
      <h2 class="mb-5">{{ heading }}</h2>
      <ng-content select="[title]"></ng-content>

      <div class="actions-panel">
        <ng-content select="[actions]"></ng-content>
        <ng-container *ngIf="actions?.length">
          <ng-container *ngFor="let action of actions">
            <ng-container *ngIf="!(action.hidden && action.hidden())" [ngSwitch]="action.type">
              <button class="m-2" *ngSwitchCase="'flat'" mat-flat-button color="primary" (click)="action.click(this)"
                [disabled]="action.disabled && action.disabled(this)"
                [matTooltip]="action.tooltip">{{ action.label }}</button>
              <button class="m-2" *ngSwitchCase="'stroked'" mat-stroked-button color="primary"
                (click)="action.click(this)" [disabled]="action.disabled && action.disabled(this)"
                [matTooltip]="action.tooltip">{{ action.label }}</button>
              <button class="m-2" *ngSwitchDefault mat-button color="primary" (click)="action.click(this)"
                [disabled]="action.disabled && action.disabled(this)"
                [matTooltip]="action.tooltip">{{ action.label }}</button>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <ng-container *ngIf="quickSearchField?.key">
        <form class="quick-search-field" [formGroup]="quickSearchForm">
          <mat-form-field floatLabel="never" style="width: 100%;" class="quick-search-field">
            <i matPrefix class="material-icons">
              search
            </i>
            <input matInput type="search" [attr.maxlength]="quickSearchField.maxLength"
              [placeholder]="quickSearchField.label" [formControlName]="quickSearchField.key"
              (keyup.enter)="$event.preventDefault(); quickSearch()">
          </mat-form-field>
        </form>
      </ng-container>

    </div>
  </div>

  <div #tableContainer class="table-container">
    <table mat-table class="table table-hover table-striped" [dataSource]="tableData" matSort
      [matSortActive]="sortActive" [matSortDirection]="sortDirection" matSortDisableClear="true">

      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">

        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header scope="col"
          [start]="column.sortDirection ? column.sortDirection : 'asc'"
          [disabled]="column.sortable ? column.sortable : false" (mouseenter)="headerTooltip.show()"
          (mouseleave)="headerTooltip.hide()" (click)="column.headerClick && column.headerClick()"
          [ngStyle]="column.headerStyle" [hidden]="column.hidden">
          <span #headerTooltip="matTooltip" [matTooltip]="column.headerTooltip">
            <ng-container>
              <span [innerHTML]="column.label"></span>
              <img *ngIf="column.headerTooltip" src="assets/images/information-icon.png" style="margin: 0 3px;">
            </ng-container>
          </span>
        </th>

        <td mat-cell scope="row" *matCellDef="let element" (mouseenter)="cellTooltip.show();"
          (mouseleave)="cellTooltip.hide()" [hidden]="column.hidden"
          [attr.color]="column.cellColor && column.cellColor(element)"
          [ngStyle]="column.cellStyle && column.cellStyle(element)" [attr.data-cell-value]="element[column.key]">
          <span class="icon" #cellTooltip="matTooltip" [matTooltip]="column.cellTooltip && column.cellTooltip(element)"
            (click)="column.cellClick && column.cellClick(element)"
            [style.cursor]="column.cellClick ? 'pointer' : 'default'">

            <ng-container *ngIf="column.type === 'date'; else number">
              {{ element[column.key] }}
            </ng-container>
            <ng-template #number>
              <ng-container *ngIf="column.type === 'number'; else imageIcon">
                {{ element[column.key] | number }}
              </ng-container>
            </ng-template>
            <ng-template #imageIcon>
              <ng-container *ngIf="column.type === 'imageIcon'; else link">
                <img [src]="column.imageSrc" />
              </ng-container>
            </ng-template>
            <ng-template #link>
              <ng-container *ngIf="column.type === 'link'; else default">
                <a [innerHtml]="element[column.key]"></a>
              </ng-container>
            </ng-template>
            <ng-template #default>
              {{element[column.key]}}
            </ng-template>
          </span>
        </td>

        <td mat-footer-cell *matFooterCellDef>
        </td>

      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>
          <mat-select placeholder="..." panelClass="table-more-panel" [value]="showColumnsValue"
            (selectionChange)="showColumnsChange($event)" multiple disableOptionCentering>
            <mat-select-trigger>
              <span>...</span>
            </mat-select-trigger>
            <p>Show Columns</p>
            <ng-container *ngFor="let col of columns">
              <mat-option *ngIf="!col.fixedColumn" [value]="col.key" [ngStyle]="col.showColumnsStyle">{{col.label}}
              </mat-option>
            </ng-container>
          </mat-select>
        </th>
        <td mat-cell *matCellDef="let row"></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr class="thead-dark" mat-header-row *matHeaderRowDef="displayedColumns">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="rowStyle(row)" [ngClass]="rowClass(row)"
        [class.selected]="selection.isSelected(row)" (click)="select(row)" [matTooltip]="rowTooltip(row)">
      </tr>
    </table>
  </div>

  <div [hidden]="!dataSource.data?.length" class="mt-3">
    <cis-pagination [position]="paginatorPosition" [totalItems]="totalItems" (pageChange)="onPageChange($event)">
    </cis-pagination>
  </div>
</div>